# 忽略工具和缓存目录
steamcmd/
__pycache__/

/overlap/

# 忽略由GitHub Action工作流动态生成的临时文件
/api_response.json
/pr_body.md
/ci_pr_body.md
/temp_artifacts/

/.vs

/translation_utils/*.pdb
/translation_utils/可视化翻译工具/翻译/bin/*.pdb
/translation_utils/可视化翻译工具/翻译/*.pdb

/translation_utils/PreProcessing/.vs
/translation_utils/PreProcessing/PreProcessing/bin
/translation_utils/PreProcessing/PreProcessing/obj

/translation_utils/PostProcessing/.vs
/translation_utils/PostProcessing/PostProcessing/bin
/translation_utils/PostProcessing/PostProcessing/obj

/translation_utils/TranslatorHelper/.vs
/translation_utils/TranslatorHelper/TranslatorHelper/bin
/translation_utils/TranslatorHelper/TranslatorHelper/obj

/translation_utils/TranslatorGUI/.vs
/translation_utils/TranslatorGUI/翻译工具/bin
/translation_utils/TranslatorGUI/翻译工具/obj