# 忽略工具和缓存目录
steamcmd/
__pycache__/

/overlap/

# 忽略由GitHub Action工作流动态生成的临时文件
/api_response.json
/pr_body.md
/ci_pr_body.md
/temp_artifacts/

/.vs

/translation_utils/PreProcessing/*
!/translation_utils/PreProcessing/PreProcessing.sln
!/translation_utils/PreProcessing/PreProcessing
/translation_utils/PreProcessing/PreProcessing/*
!/translation_utils/PreProcessing/PreProcessing/PreProcessing.csproj
!/translation_utils/PreProcessing/PreProcessing/Program.cs

/translation_utils/PostProcessing/*
!/translation_utils/PostProcessing/PostProcessing.sln
!/translation_utils/PostProcessing/PostProcessing
/translation_utils/PostProcessing/PostProcessing/*
!/translation_utils/PostProcessing/PostProcessing/PostProcessing.csproj
!/translation_utils/PostProcessing/PostProcessing/Program.cs

/translation_utils/TranslatorHelper/*
!/translation_utils/TranslatorHelper/TranslatorHelper.sln
!/translation_utils/TranslatorHelper/TranslatorHelper
/translation_utils/TranslatorHelper/TranslatorHelper/*
!/translation_utils/TranslatorHelper/TranslatorHelper/PostProcessing.csproj
!/translation_utils/TranslatorHelper/TranslatorHelper/Program.cs

/translation_utils/TranslatorGUI/*
!/translation_utils/TranslatorGUI/翻译工具.sln
!/translation_utils/TranslatorGUI/翻译工具
/translation_utils/TranslatorGUI/翻译工具/*
!/translation_utils/TranslatorGUI/翻译工具/App.xaml
!/translation_utils/TranslatorGUI/翻译工具/App.xaml.cs
!/translation_utils/TranslatorGUI/翻译工具/AssemblyInfo.cs
!/translation_utils/TranslatorGUI/翻译工具/MainWindow.xaml
!/translation_utils/TranslatorGUI/翻译工具/MainWindow.xaml.cs
!/translation_utils/TranslatorGUI/翻译工具/翻译工具.csproj
!/translation_utils/TranslatorGUI/翻译工具/翻译工具.csproj.user